[2016-01-18 13:27] ranyefet opened #1 "Does this package shows JavaScript stack trace in HockeyApp?"
Hello,

Thanks for the package.
I'm building my iOS app with React Native and I already integrated HockeyApp SDK and simulated a crash and it appears to work.
The problem is that I can't see any relevant data to the crash (JS Error, stack trace etc) I can only see the Objective-C information.

Does this package sends JS stack trace and other data?

[2016-01-22 23:40] iamladi commented on #1
No it does not. Would you like to try to implement this?

[2016-01-23 01:04] berickson1 opened #3 "Feature Request: User Authentication"
HockeyApp SDK supports the following:
Anonymous auth
Device UUID Auth
HockyApp User Login Auth
Email Auth
Web Auth

react-native-hockeyapp only supports anonymous.  Are there any plans to support additional authentication mechanisms?

[2016-01-23 01:05] berickson1 commented on #3
If there's no short term goals to making this happen, I'm willing to contribute and can look at iOS early next week

[2016-01-23 10:35] iamladi commented on #3
@berickson1 I don't have the plan. So I would be really happy if you do it and I could probably do Android version. So feel free to work on it.

[2016-01-24 01:40] berickson1 commented on #3
Cool.  We should agree upon an interface.  Here's my proposal:
Function: HockeyApp.configure

Parameters:
HOCKEY_APP_ID:string
autoSendCrashReports:boolean (default = true)
authType enum (default = 0)
app_secret: string (default = "")

Enum values:
0 - No Auth
1- Email (& Secred) Auth
2 - HockeyApp User Login Auth (email & password)
3 - Device UUID Auth
4 - Web auth (iOS only)

If you're ok with t

[2016-01-24 09:25] ranyefet commented on #1
@martincik I'm sorry but I'm not able to implement it since we're busy releasing our app.
We switched to Sentry which already supports tracking JS errors :)

[2016-01-24 09:25] #1 closed, assigned to nobody

[2016-01-24 10:00] iamladi commented on #3
Looks good. :+1:

Just one observation... Maybe the naming of the var could be all camel case?

[2016-01-26 00:25] berickson1 commented on #3
Sounds good, I wasn't sure what naming convention you preferred.

I've implemented iOS auth types. I'll hold off making a pull request because it will break android (differing api call signatures).
Take a look at it here: adfa03c7f4a80d6702ba1d32632fe5e7180f3ef3

Thoughts?

[2016-01-26 01:03] berickson1 commented on #3
Sounds good, I wasn't sure what naming convention you preferred.

I've implemented iOS auth types. I'll hold off making a pull request because it will break android (differing api call signatures).
Take a look at it here: 81e3793b6c2077f74d1e2003b89558558d67e632

Thoughts?

[2016-01-26 07:33] iamladi commented on #3
Looks good to me with 1 comment on the commit. Feel free to create PR and next week when I'm back from skiing I'll write the Android version of it.

[2016-01-26 20:31] berickson1 commented on #3
@martincik, @rspeyer implemented the Android piece.  Feel free to take a look here: da086f6709cae77f5dc514333d21758a0ee18cb6

I'll put up a pull request tomorrow for iOS/Android combined

[2016-01-27 03:07] lostintangent commented on #3
Awesome! I was actually planning to send a PR for this, but you beat me to the punch :)

[2016-01-27 08:34] iamladi commented on #3
@berickson1 @rspeyer Looks good! Let's do PR.

[2016-02-01 23:53] jasonmerino opened #5 "Android implementation documentation is out of date"
The `MainActivity.java` file in newer versions of React Native is structured drastically different than it used to be. The documentation in the README.md file is out of date.

[2016-02-02 15:33] iamladi commented on #3
@rspeyer Can you create PR for Android impl. of the Auth?

[2016-02-02 15:40] rspeyer commented on #3
@martincik it looks like it has already been pulled in via the `auth` branch - here is the relevant diff: https://github.com/slowpath/react-native-hockeyapp/compare/81e3793b6c2077f74d1e2003b89558558d67e632...master

[2016-02-02 16:04] iamladi commented on #3
@rspeyer Great. Didn't notice. ;) Thank you.

[2016-02-02 16:04] #3 closed, assigned to nobody

[2016-02-02 16:06] iamladi commented on #5
Good point. Thank you for reporting. Whenever I will find a energy to update it I will make new instructions.

NOTE: As of React Native 0.18 the MainActivity.java is different in the react-native init.

[2016-02-06 14:19] iamladi commented on #5
@jasonmerino Update in the master.

[2016-02-06 14:19] #5 closed, assigned to nobody

[2016-02-08 15:57] jasonmerino commented on #5
Awesome! Thanks @martincik :smile:

[2016-02-17 06:53] pickhardt commented on #1
@ranyefet I really need the JS stack traces too. I thought this project might have done it.

Did you do this:(https://docs.getsentry.com/hosted/clients/javascript/integrations/react-native/)?  It seems extremely cumbersome since you have to upload a new source map every time.  Are you doing anything better than that or just doing that each time you deploy a new app version?

[2016-02-17 08:56] ranyefet commented on #1
@pickhardt well yeah it's a little cumbersome but It make sense, else how would they know to show a stack trace from the minified JS file?
I wrote a little script that create a release, push it to client using CodePush and Upload bundle and source map to Sentry. Works pretty well.

[2016-02-18 06:11] pickhardt commented on #1
Guess I'll just write a similar script too.

[2016-02-25 17:18] mangogogos opened #8 "Having trouble integrating openURL in AppDelegate.m"
I'm new to cocoapods so I'm probably just not setting something up correctly. I have cocoapods installed and my Podfile is as follows:

[code]

I've run pod install and have a workspace with a Pods subproject which does have HockeySDK under the Pods folder.

The issue is in AppDelegate.m where Xcode is complaining "Use of undeclared identifier "BITHockeyManager". Is there an import that I need or

[2016-02-28 18:54] iamladi commented on #8
Hi @mangogogos,

you should be doing in your AppDelegate.m:

[code]

and here's my Podfile:

[code]

Let me know if that helps.

[2016-03-04 00:49] mangogogos commented on #8
Hey thanks for responding @martincik and sorry for not getting back to you sooner.

I realized one mistake that I was making was that I had copied the RNHockeyApp folder to my libraries itself (rather than the contents of that folder). That, plus adding the import statement gets rid of the pre-compile issues; however, I'm getting a compile-time error now:

Undefined symbols for architecture i386:

[2016-03-09 18:44] mangogogos commented on #8
Found what I was missing! I needed to add the framework from the pod file to the Link Binary With Libraries build phase :+1:

[2016-03-09 18:44] #8 closed, assigned to nobody

[2016-03-09 20:06] tomprogers opened #9 "wanted: guidance resolving overridden build settings that come with react-native OOTB"
CocoaPods installation throws a couple of warnings:

[code]

This is when run against a pretty small react-native project (rn version 0.20.0) with just a couple of third-party react-native modules, which makes me think this will be a common problem that developers will face. If that's accurate, providing some guidance in the README for resolving it would help welcome.

[2016-03-09 21:14] mangogogos commented on #9
+1

[2016-03-09 21:22] mangogogos opened #10 "React native hockeyapp setup not complete"
RNHockeyApp isn't showing up in my iOS NativeModules

Under my Libraries: RNHockeyApp.h/m
in my Podfile: pod 'HockeySDK'
in my AppDelegate.m:

[code]

and in Link Binary With Libraries on Build Phases: HockeySDK.framework

Everything compiles successfully but as I said RNHockeyApp is not appearing in NativeModules. Anything look wrong with my setup or any suggestions?

[2016-03-09 21:44] tomprogers opened #11 "setup instructions for iOS incorrectly say to add entire RNHockeyApp folder"
The instructions say to add the entire RNHockeyApp folder to your project.

[code]

This doesn't work, at least when performed against react-native v0.20.0.

The correct procedure is to add the two files _inside_ the RNHockeyApp folder.

[2016-03-10 07:51] iamladi commented on #10
@JBerendes updated Readme with correct instructions. Have a look and let me know if it solves the issue for you.

[2016-03-10 07:52] iamladi commented on #11
@JBerendes Update Readme instructions so the problem you have should be solved.   Let me know if it helps.

[2016-03-10 07:54] iamladi commented on #9
I this something that is related to this NPM package? It feels to me like it's either CocoaPods issue or RN upgrade.

[2016-03-29 23:02] mangogogos commented on #10
Sorry for not getting back to this sooner! I'm not sure what the issue I was having was but after updating all the files involved this seems to have been resolved. Cheers!

[2016-03-29 23:02] #10 closed, assigned to nobody

[2016-04-07 15:32] yoniholmes commented on #11
Hi guys, thanks for flagging this and making efforts to fix this. This still isn't clear however, even after the PR. Because the title says to `Add the RNHockeyApp/ folder to your project`, that's exactly what we did. It should read `Add 2 files from the RNHockeyApp to your project` to avoid ambiguity – if indeed that's what you're supposed to do.

At time of writing, we haven't got this working y

[2016-04-13 21:52] ncnlinh opened #13 "Android addMetadata not adding Metadata to crash reports"
According to https://github.com/bitstadium/HockeySDK-Android/blob/develop/README.md#documentation,

This is not yet implemented

[2016-04-13 22:38] ncnlinh opened #14 "Wrong method name in Android (generateTestCrash instead of generateCrashReport)"

[2016-04-16 21:44] lostintangent commented on #13
@ncnlinh The comment you referenced isn't related to the `addMetadata` method. You should be able to call `addMetadata` and have the specified data show up in the `Description` section of a crash report. Check out the the [Cordova SDK](https://github.com/bitstadium/HockeySDK-Cordova#enhancing-crash-reports) for details on where you would find this info in the HockeyApp portal.

If you're not seein

[2016-04-18 18:52] ncnlinh commented on #13
@lostintangent It is a bug with the method. I wrote my own module to bridge the HockeyApp Android SDK and it worked for me.

[2016-04-28 16:05] thadcodes opened #16 "iOS doesn't work with rnpm link while Android does. Would be nice to include in a way both worked"
I think the issue is that the native module isn't setup as an xcode project to include.  I'm not an iOS developer so I don't really know how to properly fix it otherwise I would fix it myself.

[2016-05-10 06:10] Partysun commented on #16
👍 +1

[2016-05-10 06:25] Partysun commented on #16
Now I'm testing rnpm link, and it doesnt correct for android too. I fix MainActivity for build project like in instruction. I think rnpm feature is must have for libs like this.

[2016-05-15 16:57] #14 closed, assigned to nobody

[2016-05-15 18:19] iamladi commented on #11
I have released new version 0.4.0 that should work with `rnpm link`. It will do all the magic for you.

[2016-05-15 18:19] #11 closed, assigned to nobody

[2016-05-15 18:20] #9 closed, assigned to nobody

[2016-05-15 18:21] #16 closed, assigned to nobody

[2016-05-16 15:14] arthurvi commented on #11
Do you mean with "all the magic" that the only steps necessary are `npm install` and `rnpm link` ?

[2016-05-16 15:44] iamladi commented on #11
@arthurvi Yes.

[2016-05-16 16:05] arthurvi opened #20 "Building on iOS fails after npm install react-native-hockeyapp and rnpm link"
I only ran the following 2 commands:

`npm install --save react-native-hockeyapp`
`rnpm link`

This all goes well. But then the IOS app (haven't tried Android) won't build anymore. I get the following error in Xcode:
`node_modules/react-native-hockeyapp/ios/RNHockeyApp/RNHockeyApp.h:4:9: 'RCTBridgeModule.h' file not found`

Any ideas? Really struggling to get it working.

[2016-05-16 16:06] arthurvi commented on #11
@martincik Hmm, then I had to open an issue. I just don't get it working: https://github.com/slowpath/react-native-hockeyapp/issues/20

[2016-05-17 15:58] fantattitude commented on #20
It doesn't build because Header Search Paths for **RNHockeyApp** are not properly set after `rnpm link`.

You can get it to build by adding `$(SRCROOT)/../../react-native/React` to **RNHockeyApp.xcodeproj** in "Build Settings".

I guess something's not configured as it should be in the package.

[2016-05-18 07:15] fantattitude commented on #20
Seems there's more to do to get it working correctly (`pod install` removed the **RNHockeyApp** from my project)…

I don't really know what to do 🙄

[2016-05-18 07:48] arthurvi commented on #20
Hmm, too bad. I can't get it working either with your fix. Maybe @martincik does know more.. I tried to get it working manually but without effect.

[2016-05-19 12:45] r0b1n commented on #20
@fantattitude
@arthurvi

How I figured out with this on iOS:
Just like Facebook does it for [react-native-fbsdk](https://github.com/facebook/react-native-fbsdk#32-ios-project) libs.

0) Removed `Libraries` folder, including `React`. (moved to `Pods`).
1) Added [this podspec file](https://github.com/r0b1n/react-native-hockeyapp/blob/master/ios/react-native-hockeyapp.podspec) to my repo. Hope this r

[2016-05-21 01:29] berickson1 commented on #20
The way we've been using podfiles doesn't require each dev (or build machine) to have cocoapods installed. With this approach, pod install seems to be modifying the plugin inside of node_modules.  There's gotta be a better way to do this.

You might want to revert e9cd9b7 until this issue can be resolved

[2016-05-22 20:04] iamladi commented on #20
I've released new version 0.4.1 that is reverting this commit.

[2016-06-15 19:42] jsphkhan opened #22 "Not seeing any update popup or dialogs for Android"
I have followed each and every step mentioned by you.
Configured the App Id inside my index.android.js file

componentWillMount() {
    HockeyApp.configure("ff27b86c87b547669e19faf4xxxxxxxxx", false);
  }

  componentDidMount() {
    console.log('test');
    HockeyApp.start();
    HockeyApp.checkForUpdate();
  }

Also made all the necessary changes inside the android folders.
I created 2 apps (ver

[2016-06-15 23:11] berickson1 commented on #22
#23 should fix this. I was also seeing this in my app & tracked it down to a bug in the HockeyApp SDK itself

[2016-06-16 04:43] jsphkhan commented on #22
Thanks I have updated the version to 4 after looking at your PR. Do I need to download the module again or just rebuild the project?

[2016-06-16 06:38] jsphkhan commented on #22
Its working now. I rebuilt the project, uploaded the new apk in HockeyApp with Mandatory update radio checked on. When I launched the existing app on the device it did show me a update dialog :)

Thanks for your help.
Regards.
Joseph

[2016-06-30 08:58] JatinKinra opened #27 "react-native-hockey-app platform setup not complete"
I followed the steps mentioned in the guide "https://www.npmjs.com/package/react-native-hockeyapp".
Build for the app is also successful. But When I run my release.apk, It silently does nothing and install is not reflected on Hockey App dashboard. So, I tried it in debug.apk, I am getting an error on red screen saying **"_react-native-hockey-app platform setup not complete_**" .
Can anybody help m

[2016-07-06 12:58] westcode opened #28 "react-native-hockeyapp incompatible with react-native v0.29"
RNHockeyAppPackage class constructor expects an Activity parameter, but as v0.29 migration notes describe the getPackages override has changed to MainApplication.java (not MainActivity.java).

[2016-07-20 12:27] peterpme opened #30 "Update readme to use xcworkspace instead of xcodeproj"
Hey! Great lib :)

Since we're using cocoapods, I think we have to update this to use xcworkspace instead of xcodeproj.

Thanks!

[2016-07-20 14:04] peterpme opened #31 "Multiple dex files define Landroid/support/v7/appcompat/R$anim;"
Hey, thanks for making this library great!

I'm having a few issues on Android:
- React Native 0.27
- Android 5X 6.0.1

I went through the process manually, I did not use `rnpm link`

[code]

[2016-07-29 06:52] jmitch0901 commented on #31
Try this command at the root of your project:

[code]

It worked when I got this error.

[2016-08-06 07:21] #28 closed, assigned to nobody

[2016-08-06 07:22] iamladi commented on #31
@peterpme Did the `gradlew clean` command worked for you?

[2016-08-06 07:23] #30 closed, assigned to nobody

[2016-08-06 07:24] iamladi commented on #27
@JatinKinra In order to help you, can you provide more detailed step-by-step of what you do and what systems are you running it with? Thank you.

[2016-08-06 07:25] #22 closed, assigned to nobody

[2016-08-06 07:26] #20 closed, assigned to nobody

[2016-08-06 12:47] peterpme commented on #31
Hey, what ended up happening is the multiple versions of GCM so I forced a particular version! Thanks!

[2016-08-06 12:47] #31 closed, assigned to nobody

[2016-08-15 14:56] bourgois opened #32 "Issue with currentActivity.getClass when using RN 0.30 on Android"
Hi

We upgraded our app to RN 0.30 and while it works on iOS, it crash immediately at launch on Android:
- AndroidRuntime: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.Class java.lang.Object.getClass()' on a null object reference
- AndroidRuntime: at com.slowpath.hockeyapp.RNHockeyAppModule.start(RNHockeyAppModule.java:105)

This seems to be an issue with:
LoginManag

[2016-08-19 18:01] bourgois commented on #32
@martincik Any idea on how to deal with this?

[2016-08-23 10:09] bourgois commented on #32
@martincik
It seems the issue is with using getCurrentActivity() as activity can be null sometime.
I resolved the issue by adding the following to start, update and feedback:

[code]

I can make a pull request if you want.

[2016-08-23 11:05] bourgois commented on #32
thanks @martincik

[2016-08-23 11:05] #32 closed, assigned to nobody

[2016-09-07 14:23] jeveloper opened #34 "RN 28 incompatible types"
cannot be converted to Application

error: incompatible types: MainActivity cannot be converted to Application
            new RNHockeyAppPackage(this),
                                   ^

This should lib should work for RN 28

0.5

[2016-09-07 15:13] jeveloper commented on #34
Only version 0.4.2 will work with RN28

@slowpath can you let me contribute to this project?

A bunch of things need updates

thanks

[2016-09-07 15:13] #34 closed, assigned to nobody

[2016-09-07 15:32] iamladi commented on #34
@jeveloper Yes of course. Contribution is always welcomed. You can create PR and I'll review it and merge it for you. Thank you!

[2016-09-07 19:43] jeveloper commented on #34
Great @martincik  !

By the way, my parents live in Syrovice , so i've been all over CZ :) Love your country

[2016-09-07 19:47] jeveloper opened #36 "trackEvent - 4.1 and up"
I'm hoping to contribute to this , but there is now a trackEvent method available.

[2016-09-12 15:08] semiautomatix commented on #31
Thanks @jmitch0901, saved me a lot of heartache.

[2016-09-13 21:14] brien-crean opened #37 "JS Line numbers in Crash report"
Hey folks,

Is it possible to get even the minified line number from where the crash occurred in the JS with this package? All I see in all the crash reports so far is native Java code (I'm running on android).

EDIT: I just read some of the HockeyApp docs and realised they don't officially support handled exceptions so I removed that from the issue.

[2016-09-14 00:40] brien-crean commented on #36
It looks like there is an unresolved PR for this feature. I would love to have this feature also #18

[2016-09-19 10:13] swaroopa94 commented on #27
Hi I too have the same issue please help me how to solve this.

[2016-09-19 11:24] swaroopa94 commented on #27
Hi,
I'm using React native.
In that i used this module.
First
I installed the node module and later I installed the cocopods as per the instructions.
In the pod file i wrote like this:
pod 'HockeySDK'
Dragged the pod.xcodeproj and RNHockeyapp into the libraries.

And my project is build successfully but when its is launched it showing an error like the following:
**react-native-hockey-app platform

[2016-09-22 00:10] rageandqq commented on #31
@jmitch0901 THANK YOU! I've been searching FOR HOURS for a resolution, and it was as simple as cleaning the project 😄

[2016-09-23 17:55] jhopper28 commented on #27
I'm having the same issue. Any solutions yet?

[2016-09-29 07:56] atinder commented on #31
@jmitch0901 wish I could upvote your answer 1000 times.

[2016-10-02 17:42] atinder opened #38 "property 'feedbackManager' not found on object of type 'BITHockeyManager *'"
After following the instructions to setup ios got this error.

property 'feedbackManager' not found on object of type 'BITHockeyManager *'
Xcode 8
react-native 0.33.0

[2016-10-03 20:54] BenjaminCorey commented on #38
I had this same issue, I commented out the `feedbackManager` call the in the native code and it compiled... don't know if that fixed it or broke it more though. Can't seem to get update notifications working.

[2016-10-04 05:47] DylanVann commented on #32
I'm actually seeing this error when an app is started. It seems the currentActivity is null when start is called. You could no-op, but then HockeyApp wouldn't be started.

If I implement `LifeCycleEventListener` I can see:

[code]

Is called after start. So when start was called there was no activity.

Maybe start could check for activity, if it isn't null then start. If it is then set a flag and

[2016-10-04 22:00] brianjd commented on #38
From the HockeySDK [repo](https://github.com/bitstadium/HockeySDK-iOS):

Update your Podfile to the following:
`pod "HockeySDK", :subspecs => ['AllFeaturesLib']`

[2016-10-07 01:15] dsibiski commented on #38
Thanks @brianjd 👍

[2016-10-12 04:55] csbuja commented on #27
I'm having the same problem. By the way, I had to change my podfile to be:
target 'dri' do
    pod "HockeySDK"
end

instead of just:
pod "HockeySDK"

in order for the install to happen. It would fail saying that it did not detect any dependencies. Otherwise, I follow the directions.

This only occurs when I do not drag RNHockeyapp into the libraries folder.

If I do drag RNHockeyapp into the libra

[2016-10-31 23:31] idris commented on #38
Ideally there should be a way to use `react-native-hockeyapp` without `AllFeaturesLib`.  Maybe it needs a separate npm package? 😢

[2016-11-07 11:54] krailler commented on #31
@jmitch0901 OMG!!!! THX!!

[2016-11-09 15:25] jarrrgh commented on #27
I ran into the same issue. I had dragged the RNHockeyApp folder into Project > Libraries, but it's actually the files inside the folder (RNHockeyApp.h, RNHockeyApp.m) that should be dragged. Maybe the instructions are a bit unclear, since this was already my second time doing the same mistake :)

[2016-11-10 07:36] johanarnor opened #39 "Installation without CocoaPods?"
Hi! I'm wondering if there is a way to install this on iOS without using CocoaPods? Their repo is currently over 1GB (http://stackoverflow.com/a/21852985) and it is a pain (as a beginner) to work with both CocoaPods and `react-native link`.

[2016-11-10 13:50] johanarnor opened #40 "Update popup not showing on checkForUpdate (iOS)"
Hi!

I'm having some troubles displaying the update popup when running the checkForUpdate method. The code is straight from the guide and sessions as well as crash reports are registered in the HockeyApp dashboard. No errors are shown in the logs.

[code]

Steps:
- Upload version 1.0.0 to HockeyApp
- Install it on the iPhone
- Upload version 1.0.1 to HockeyApp
- Restart the app on the iPhone and w

[2016-11-10 22:08] spacegraym3 commented on #32
Sounds good to me.

[2016-11-12 13:49] johanarnor commented on #40
It started working, so I'm closing the issue.

[2016-11-12 13:49] #40 closed, assigned to nobody

[2016-11-20 12:36] Jaafar-abusair opened #41 "How to work with restricted download application"
I'm not getting auto update and there is no sessions info on Hockyapp, is that because my app is restricted download? how should i configure this?

[2016-11-22 16:52] rajeshsivakumar opened #42 "Feedback/Crash does not show up in HockeyApp"
I followed the instructions and tried to generate feedback and the default crash from the application, but do not see them in HockeyApp. I have used the right App Id from HockeyApp. I am trying to generate the feedback form on signing out of the application.

Here is the React-Native code:

componentWillReceiveProps(nextProps) {
        if (nextProps.showFeedbackForm === true) {
            Hockey

[2016-11-22 18:59] #42 closed, assigned to nobody

[2016-12-07 10:17] Jaafar-abusair commented on #40
@johanarnor  how it works for you?

[2017-01-10 11:37] krivachy opened #43 "Publish new version"
We're encountering the same bug that is fixed in this commit: https://github.com/slowpath/react-native-hockeyapp/commit/224a4472cae41777a23c928821ace169f3a34e97

Can you please publish a new version of react-native-hockeyapp?

[2017-01-26 23:14] sarmadka opened #45 "Null pointer exception during call to HockeyApp.start() on Android"
The exception is happening while calling `currentActivity.getClass()` inside `RNHockeyAppModule.start` method. We are calling the `start` method from inside `componentDidMount` of our app's main component, just like the documentation suggests. The `configure` is called from `componentWillMount`. The following is the call stack reported by the HockeyApp crash report:
[code]

Additional info:
react-

[2017-01-27 12:27] #39 closed, assigned to nobody

[2017-02-01 12:00] kaushiksundar opened #46 "Change the UI of the feedback screen"
I am using the HockeyApp.feedback() for displaying the feedback screen.

I need to pre-populate Name and Email and change the UI of it. Is there a way to replace the Feedback activity completely with RN so that I can have complete control over it?

[2017-02-06 20:00] abcd-ca commented on #41
Me too, found this https://support.hockeyapp.net/discussions/problems/36741-team-restricted-app-doesnt-display-pop-up-update-when-app-is-launched

[2017-02-07 00:55] abcd-ca opened #47 "Needed to add url scheme to Info.plist"
Hi, thanks for making this package. I think it probably saved me some time. I found that I had to add the url scheme to my Info.plist or else the authenticate by UUID would stall on redirect. My url scheme looks like `ha<my-hockey-app-id` which is something like, `habf9a26738d294c90b530cfcc733bae91`. If this is something you can automate, great. Otherwise it would be helpful to add it to the readm

[2017-03-03 14:16] 0x46616c6b opened #50 "Possibly wrong path in README.md"
Is there possibly a wrong include in the README.md? The module will installed under `../node_modules/hockeyapp-react-native` and not `../node_modules/react-native-hockeyapp`

Or do I something wrong?

Actual in the `README.md`

[code]

Expected to build in `android/settings.gradle`
[code]

[2017-03-06 15:18] bourgois commented on #50
Hi. It does install under ../node_modules/react-native-hockeyapp for us...

[2017-03-06 15:20] bourgois commented on #43
@martincik Could you indeed do a new release? All my fixes still require to pull from react-native-hockeyapp.git#25f65e1b61dd151360ad31e27e9fa6ba0ab15eae commit rather than from a 'official' version... THANKS!

[2017-03-06 15:31] iamladi commented on #43
I'll put it on my TODO for today/tomorrow.

[2017-03-06 15:59] #50 closed, assigned to nobody

[2017-03-06 16:00] iamladi commented on #47
Can you modify the Readme and create PR for this?

[2017-03-06 16:01] iamladi commented on #43
A new version 0.5.1 is out. Please test it. Feedback welcomed.

[2017-03-06 16:01] #43 closed, assigned to nobody

[2017-03-06 16:03] #37 closed, assigned to nobody

[2017-03-09 14:19] jeveloper opened #51 "MS Mobile center to replace hockey"
Hi Folks,

Appreciate you making this library. I did want to give you heads up that MS Mobile Center is going to replace hockeyapp.
I recently used it (its still preview) and noticed that they use hockeyapp underneath, however its a brand new SDK , supports react native with separate modules for analytics , crash.

I would suggest slowing down on contribution here. Perhaps a note on readme would b

[2017-03-10 01:57] booboothefool commented on #46
+1 this would be great because I realize when my users submit feedback, they don't like to include their email, so I have no way of responding to them...

[2017-03-27 06:51] deepaksaini commented on #27
I'm having the same issue. Any solutions yet?

[2017-03-30 10:07] Anima-t3d commented on #40
I am having the same issue, anyone experienced this and got a solution? The android version does show the update dialogue.

Also anyone got the number of installs showing HockeyApp? Do we need to do something specific for it to work?

[2017-04-03 08:46] Anima-t3d commented on #40
@johanarnor @Jaafar-abusair Any solutions? Initially I thought it had to do with the permission to show alert window. But using the react-native `Alert.alert` works fine on iOS.

[2017-04-03 09:19] Anima-t3d commented on #40
I finally got it to work. Before using `react-native-hockeyapp` I used the official HockeyApp installation instructions for iOS.

**Solution**:
1. I had to revert the steps I had taken for integrating the official SDK.
1. I made the changes to AppDelegate.m (although this seems optional to me?)

If you wish to use Device UUID authentication or Web authentication, the following must be added to ios

[2017-05-03 12:47] ghost opened #52 "(Android) HockeyApp authentication can be skipped using hardware back button"
react-native 0.41.2
react-native-hockeyapp 0.5.1

**Unexpected behavior:**
We use the HockeyApp authentication type = 2 (emailPassword). After installing our app and launching it, the HockeyApp authentication screen is presented to the user. Users on an Android device can skip the HockeyApp authentication using the hardware back button and this will take them directly to our app. We also discussed

[2017-05-03 23:13] ElektrojungeAtWork commented on #52
Hey,
I replied to you in the HockeyApp support, but I wanted to post my response here, too.

We were finally able to reproduce this. The change was merged in develop of our Android SDK just now. Unfortunately, it'll be a few weeks until we release 4.1.5 of the Android SDK as we just released 4.1.4 and we are quite busy working on [Mobile Center](https://www.hockeyapp.net/mobile-center/about/). Tha

[2017-05-04 02:54] ghost commented on #52
Thank you Benny. We'll proceed as you suggested

[2017-05-11 21:02] ghost commented on #52
Benny,
Is there a way that you can accelerate the delivery of a patch to address the issue? We are running several pilots of our mobile app and at the moment when it comes to Android users/devices we faced TWO MAJOR ISSUES:

1) Users that are part of our test pool can copy the apk from their file system on the device and send it around and anyone can basically use it and we have no control and no

[2017-05-12 10:30] ElektrojungeAtWork commented on #52
@devmaster72 I completely understand. I'll let you know at the beginning of next week what the ETA for the 4.1.5 release is. We're trying to be as quick as possible.

Thx for your support and understanding.

[2017-05-16 15:39] sytolk opened #53 "Lint error"
you can add:
lintOptions {
        disable 'InvalidPackage'
}

[code]

../../../../../../../.m2/repository/com/squareup/okio/okio/1.6.0/okio-1.6.0.jar: Invalid package reference in library; not included in Android: java.nio.file. Referenced from okio.Okio.

[2017-05-17 10:55] sytolk opened #54 "Can we have console logcat in Description for Android"
According to this for Android:

https://support.hockeyapp.net/kb/client-integration-android/customization-options-for-android#-span-id-getdescription-method-getdescription-a-

[2017-06-06 13:57] datnguyen0606 opened #55 "(ios) Apple Mach-O Linker Error"
Hi,
I got error "Apple Mach-O Linker Error" when trying to build the app from XCode.
Could you guys help me to figure out how to fix this issue?
Thanks

[2017-06-07 05:36] devhyunjae commented on #27
Same here

[2017-06-12 12:56] sahil-innostax commented on #27
Try updating your Podfile to the following:
pod "HockeySDK", :subspecs => ['AllFeaturesLib']
run pod install

[2017-06-12 12:59] sahil-innostax commented on #55
Open YourAppName.xcworkspace instead of YourAppName.xcodeproj and build again

[2017-06-12 13:01] sahil-innostax opened #57 "Always getting the same error in Crash Reports"
Selector name found in current argument registers: isDebuggerAttached

[2017-06-20 22:08] AlanFoster opened #59 "Report JavaScript level errors / exceptions"
Is it possible to report JavaScript level exceptions, such as a rejected promise that do not need to crash the app, to hockey app? 🤔

For android it is possible to make use of `ExceptionHandler.saveException` to send caught exceptions to hockey app, but I'm not sure if the same functionality exists for iOS.

Is this API something that would make sense to add to this library? Let me know your thoug

[2017-06-21 11:25] zalesky commented on #27
Follow the instruction and I'm having the same shit

[2017-06-22 07:22] zalesky commented on #27
@martincik , Looks like it's a popular issue, can you provide a configuration flow from react-native init awesomeProj and registration on the hockeyapp.net? Without this one the package is useless.

[2017-06-22 08:39] zalesky commented on #27
@martincik it was hard to find this simple solution https://github.com/slowpath/react-native-hockeyapp/pull/60

[2017-06-27 20:00] johanarnor commented on #55
We also had a similar issue, when running custom configuration (something other than Debug/Release, e.g Staging).

I think it is somewhat related to https://github.com/facebook/react-native/issues/11813, and even though it looked like https://github.com/facebook/react-native/issues/11813#issuecomment-285224076 would solve our issue, that was not the case.

Instead, I opened YourAppName.xcworkspace

[2017-07-26 22:24] BrennanRoberts opened #61 "BUILD FAILED on iOS, fatal error: 'HockeySDK/HockeySDK.h' file not found"
I've been unable to get my application to run on iOS using the instructions on the homepage. Here's what I've done:

**1. Create `ios/Podfile`**
[code]

**2. Run `pod install` from `ios/`**

Results:
[code]

**3. Open myapp.xcodeproj in Xcode and drag `./ios/Pods/Pods.xcodeproj` and the contents of `./node_modules/react-native-hockeyapp/RNHockeyApp` into the Libraries section.**

Results:
<img wid

[2017-07-26 23:05] BrennanRoberts commented on #61
Cloning a fresh repo fixed this issue. I had tried `git reset && git clean -fd` so the culprit must have been something being `gitignore`d.

[2017-07-26 23:05] #61 closed, assigned to nobody

[2017-08-09 20:19] mchandleraz opened #62 "iOS build failure - fatal error: 'HockeySDK/HockeySDK.h' file not found"
It seems like I'm missing a step in adding the HockeyApp SDK to my project. I've followed the instructions in this repo, various instructions from HockeyApp, and everything I can find via Google with no luck.

When building the project, I get the following error:
`node_modules/react-native-hockeyapp/RNHockeyApp/RNHockeyApp.h:9:9: 'HockeySDK/HockeySDK.h' file not found`

I'm using react-native 0.47

[2017-08-19 20:07] ghost commented on #52
@TroubleMakerBen do you have an update on the ETA of 4.1.5? thank you

[2017-08-29 17:20] ElektrojungeAtWork commented on #52
@ER1011 That was released weeks ago. We're at 5.0.0-beta.1 now.

[2017-09-23 22:43] ghost commented on #52
Thank you @TroubleMakerBen, we just upgraded to HockeyApp SDK 5.0.1 and I can confirm the problem is gone

[2017-09-28 11:11] juanjo-ramos opened #66 "Is Universal Windows Platform supported?"
I'm working on a hybrid app mixing React Native and a Windows (UWP) application and trying to setup HockeyApp as crash reporter.

I have it up on Windows but I cannot get it working on React Native. I always see the error references here https://github.com/benloopcompany/react-native-hockeyapp/issues/27

I'm wondering if UWP is supported at all.

[2017-10-09 09:52] stpavicevic opened #67 "Getting installed version shown in HockeyApp dashboard"
Hi,

using this library for our RN-App (iOS, Android). When user installs the app, no app version is being submitted back to HockeyApp.

Any ideas how we can fix this?

[2017-10-11 00:46] zachgibb commented on #27
In case it helps anyone, I ran into this same issue. It turned out that the build was failing in the first place because of the issue described here: https://github.com/benloopcompany/react-native-hockeyapp/issues/38.

As described in that issue, the fix was to update the Podfile to
[code]

[2017-10-17 19:23] esbenp commented on #27
#58 fixed it for me, I just forked the PR and installed directly.

`package.json`
[code]

[2017-10-23 06:56] Myrenkar commented on #62
Please try with my fork https://github.com/benloopcompany/react-native-hockeyapp/pull/58 described here

[2017-11-26 16:17] dann1609 commented on #27
I have this problem too but #58 neither #38 work for me!  I follow IOs setup steps. I don't know what is the problem, on Android it do not show this message and work without problem yet.

for a rare reason in iOS  RNHockeyApp is undefined.
`var {
    NativeModules: {
        RNHockeyApp
    }
} = require('react-native');
var invariant = require('invariant');`

![captura de pantalla 2017-11-26 a la

[2017-12-11 19:48] Jaafar-abusair commented on #38
Just update the podfile to
pod ‘HockeySDK’, '4.1.0’

[2018-01-08 21:52] dilipmukkapati opened #70 "CheckForUpdate not showing update view though availble"
Hi,

I integrated this library and testing on android to checkForUpdate I don't see updates though app is on older version than hockeyapp. I see the **feedbacks are collected and updated** on hockeyapp server but checkForUpdate not working. Have you ever faced this issue before? Following is the code.

[code]

[2018-01-10 15:31] montaserfzy opened #71 "Xcode V9.2 errors"
After I have upgrade my **xCode** to **version 9.2**, it's showing the error related to swift as screenshot :

`Property 'authenticator' not found on object of type 'BITHockeyManager [*']`

this issue related to old code written by objective c language
<img width="1143" alt="screen shot 2018-01-10 at 5 14 01 pm copy" src="https://user-images.githubusercontent.com/8565425/34780398-b3d2beaa-f62b-11e

[2018-01-12 21:20] ethras commented on #70
same issue here

[2018-01-12 21:24] dilipmukkapati commented on #70
Did little more debugging in this part, I see UpdateManager.register(currentActivity, _token) is called successfully. I placed a toast message in the checkForUpdate (of react-native-hockeyapp) which is called successfully and _token is having the value passed.

Updatemanager is not showing up, not sure about it. gonna place a support ticket to hockeyapp and see how it goes. I'll post it here, if y

[2018-01-15 16:49] dilipmukkapati commented on #70
The library is good, the configuration in the hockeyapp.net says **beta** as release type in my case. After changing it to **Enterprise** everything worked.

[2018-01-15 16:49] #70 closed, assigned to nobody

[2018-01-28 02:09] KrishnanSriram opened #73 "Compilation issues with Android Studio"
// build.gradle(Project: SimpleWebView)
buildscript {
    repositories {
        jcenter()
        mavenCentral()
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'
        classpath 'net.hockeyapp.android:HockeySDK:4.1.2'
        // NOTE: Do not place your application dependencies here; they belong
        // in the individual module build.gradle files
    }
}

// b

[2018-01-28 04:12] KrishnanSriram commented on #73
This was more a network issue. Once I fixed the network certificates, this issue went away. I am good now

[2018-01-28 04:12] #73 closed, assigned to nobody

[2018-01-28 04:28] KrishnanSriram commented on #27
Have the same issue. Works fine for Android. iOS has been the troubled kid. Tried
`pod "HockeySDK", :subspecs => ['AllFeaturesLib']`
Did not help. Error still shows up

[2018-03-06 16:36] montaserfzy commented on #57
The same issue in IOS release build..
Getting this error in case the 'react-native-hockeyapp: Anonymous Auth set'
Error :
`APP was compiled with optimization - stepping may behave oddly; variables may not be available.`

Any help?!

[2018-03-06 16:38] montaserfzy commented on #71
Closing the issue by updating the plugin to lates

[2018-03-06 16:38] #71 closed, assigned to nobody

[2018-03-08 22:37] danielfx90 commented on #46
+1, it would be great to be able to keep the look and feel of the app when sending feedback

[2018-03-09 20:47] danielfx90 opened #76 "iOS cocoapods configuration in README is wrong"
The current README specifies to add the following line to the Podfile:

[code]

But this does **not** install the full SDK which enables the feedback feature, for instance. To do so, that line should be:

[code]

[2018-03-24 16:32] ghost commented on #10
Add the following to your header search paths and make sure to set the recursive flag:
$(SRCROOT)/../node_modules/react-native-hockeyapp/RNHockeyApp

[2018-04-26 12:15] brianjd opened #77 "Add Tagged Releases"
For those of us who have to install using cocoapods, please add tagged releases so podspec works.  https://github.com/benloopcompany/react-native-hockeyapp/blob/master/HockeyAppReactNative.podspec#L13. I had to patch to remove the tag, and just pull master.  Which makes things unpredictable / unstable.

[2018-07-04 18:13] omkarsheral1989 opened #78 "Android: App doesn't install on Android Oreo 8.0 (api v26) and above"
New apk is downloaded but cannot install as there is change in 'Install apps from unknown sources' in Oreo.
Refer:
https://developer.android.com/about/versions/oreo/android-8.0-changes#security-all (scroll little down to unkown sources)

This can be resolved easily by adding this permission in Android.manifest
<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

[2018-07-25 13:12] cameronRaymondCIBC commented on #27
@esbenp Did you add it as a dependency in your package.json?

[2018-08-15 10:40] pashute opened #83 "getPackages RNHOckeyAppPackage(this) in MainApplication instead of MainActivity"
In react-native 0.55.3 the `List<ReactPackage> getPackages() {` is in `MainApplication.java` and not in `MainActivity.java`.

When I try to add the `new RNHockeyAppPackage(this)` in the existing `getPackages()` list, I get:   `error: incompatible types: <anonymous ReactNativeHost> cannot be converted to Application`

If I try with `(this.Application)` or `(this.getApplication)` I get `symbol not f

[2018-08-15 11:57] pashute commented on #83
solved: according to rest of documentation for older versions I used the static MainApplication.this.

    , (new RNHockeyAppPackage(MainApplication.this));

[2018-08-15 11:57] #83 closed, assigned to nobody

[2018-08-15 11:59] pashute opened #84 "How to build and upload android app"
**Solved see 2nd comment below**

I ran my react-native (non-expo i.e. disconnected) app with `react-native run-android` (on my pc) and got an App-Debug.apk  I uploaded that and it seems it doesn't work. I get a white screen.
(How can I see the console.log messages or any type of log?)

For loading on HockeyApp, was  I supposed to compile the react native app in android studio as a regular app, no

[2018-08-15 12:15] pashute commented on #84
As a second try: I loaded the myproject/android folder into the Android Studio from the menu with the _FILE/OPEN PROJECT_ . It took a minute or two to load.

I see several "folded" folders in the project manager under Android: app, and one for each of my installed external npms: react-native-hockeyapp, react-native-kontaktio, react-native-simple-compass and react-native-vector-icons and then there

[2018-08-16 04:31] pashute commented on #84
**Solved!!**

- Create your keystore file.  (Save copies and the credentials somewhere safe so that you can retrieve)
- Copy the keystore file to *myproject*/android/app
- Update the gradle properties according to the [instructions here](https://facebook.github.io/react-native/docs/signed-apk-android.html)
 - Create the release with `gradle`:

    cd myproject/android
    gradlew assembleRelease

[2018-08-16 04:33] pashute commented on #84
I would like to update the documentation accordingly, if all goes well. So I'm leaving this open for a week or two, to see if I have time. If not I'll just close it and people can read what I did if they wish.

[2018-08-19 14:22] pashute commented on #84
I think I misunderstood a comment on a github issue, thinking it had to do with HockeyApp, but in fact it had to do with the project they were talking about: wireapp.  Accordingly I had written (and now erased):

~Also you have to downgrade to gradle 1.5 at most.~

~See here from hockeyapp: **Our current build setup will not work unless you have version 1.5.0.**~
https://github.com/wireapp/wire-an

[2018-08-21 07:22] itinance opened #85 "[Question] Only triggered test crashes are visible in Hockeys Dashboard"
I'm pretty sure that this doesn't have any to do with this fantastic library itself!

I just want to know, if there are other RN-developers out there facing the same issue. Of of our RN-Apps will crash after a while of usage and we still try to find the root cause. But these crashes won't appear on Hockey, while "generateTestCrash()" generates a crashlog and can be watched at the Dashboard.

Any e

[2018-09-05 11:17] samueljmurray commented on #78
This is the permission you can add to fix this:

[code]